<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Salesforce2FDA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings>
        <!-- Central File Number  provided by FDA, it is like a customer number-->
        <add key="CentralFileNumber" value="TEST_CFL"/>
        <add key="AuthorityName" value="SomeAuthName"/>
        <add key="saleForceReportURL" value="https://cmpl123cme.eu2.visual.force.com/apex/MDRreport?id="/>
    </appSettings>
    <applicationSettings>
        <Salesforce2FDA.Properties.Settings>
            <setting name="Salesforce2FDA_sforce_SforceService" serializeAs="String">
                <value>https://login.salesforce.com/services/Soap/c/29.0/0DFb0000000Cbj7</value>
            </setting>
        </Salesforce2FDA.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
