<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Central File Number  provided by FDA, it is like a customer number-->
    <add key="CentralFileNumber" value="TEST_CFL"/>
    <add key="AuthorityName" value="SomeAuthName"/>
    <add key="saleForceReportURL" value="https://cmpl123cme.eu2.visual.force.com/apex/MDRreport?id="/>
    <add key="username" value ="123Compliance@aurora.com" />
    <add key="password" value ="Lentani234" />
    <add key="xmlFilePath" value ="c:\FDA.xml" />
  </appSettings>
</configuration>